# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Django
db.sqlite3
media/
static/
staticfiles/

# Environment variables
.env

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Coverage
.coverage
htmlcov/
.pytest_cache/


# Python cache
*.egg-info/
dist/
build/

# mypy
.mypy_cache/

# Ruff
.ruff_cache/

# PyCharm
*.iml